<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">


     <div class="footer-col-wrapper">
<!--       <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      </div> -->

      <div class="footer-col">
        <ul class="contact-list">


            <li><a href="https://github.com/kasperengelen/" target="_blank">GitHub</a></li>
            <li><a href="https://dblp.org/pid/347/1623.html" target="_blank">DBLP</a></li>

        </ul>
      </div>

      <div class="footer-col">
        <ul class="contact-list">

            <li><a href="https://www.uantwerpen.be/nl/personeel/kasper-engelen_24293/" target="_blank">UAntwerp Page</a></li>
            <li><a href="https://scholar.google.be/citations?user=TNyjCE0AAAAJ" target="_blank">Google Scholar</a></li>

        </ul>
      </div>
   </div>
  </div>


</footer>
