<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/custom.css" | relative_url }}">

    {%- feed_meta -%}

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    
    <!-- Custom javascript -->
    <script src="/assets/smartEnvironments.js"></script>
    <script src="/assets/smartFigures.js"></script>
    <script src="/assets/smartReference.js"></script>
    <script src="/assets/smartCite.js"></script>
    <script src="/assets/smartLink.js"></script>
    <script src="/assets/custom_commands.js"></script>

    <script type="text/javascript">
        window.MathJax = {
            // for MathJax 2
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            },
            TeX: {
                Macros: {
                    adj: '\\mathrm{adj}',
                    det: '\\mathrm{det}'
                }
            }
            // for MathJax 3
            // tex: {
            //     inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            //     macros: {
            //         adj: '\\mathrm{adj}',
            //         det: '\\mathrm{det}'
            //     }
            // },
        };
    </script>

<!--     <script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
 -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
        type="text/javascript">
    </script>
</head>
