<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/custom.css" | relative_url }}">
    {%- feed_meta -%}

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script>
        /* This script will take some custom tags and replace them with divs */

        $(document).ready(function () {
            $("example-box").replaceWith("<div class=\"highlight-box-purple\">" + $("example-box").html() + "</div>");
            $("example-title").replaceWith("<h2>" + $("example-title").html() + "</h2>");


            $("warning-box").replaceWith("<div class=\"highlight-box-yellow\">" + $("warning-box").html() + "</div>");
            $("warning-title").replaceWith("<h2>" + $("warning-title").html() + "</h2>");
        });
    </script>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
        type="text/javascript">
    </script>  
</head>
